.score-board {
	width: 100%;
	z-index: 6;
	color: #0dfc5e;
	transition: opacity .5s ease-in-out;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 55vh;


	.row {
		width: 60vh;
		white-space: nowrap;
	}
}

.scores {
	margin: 1vh auto;
	font-family: "Schoolbell";
	font-size: 3vh;
	text-shadow: 0 0 10px #00b22f;
	text-align: center;
}